@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
    font-family: "Playfair Display SC", sans-serif;
    margin: 0;
}

/* header*/

header {
    background-color: blue;
    color: #fafafa;
    width: 100vw;
    height: 15vh;
}

.uppercase {
    text-transform: uppercase!important;
}

.no-transform {
    text-transform: none!important;
}

.page-heading {
    padding-top: 1rem;
    font-weight: 900;
}

.sub-heading {
    
    font-weight: 600;
}

/* footer */

#footer {
    margin: 0;
    width: 100vw;
    height: 10vh;
    background-color: black;
}

/* section */

section {
    height: 75vh;
    width: 100vw;
    margin: 0;
}

canvas {
    height: 75vh;
    width: 100vw;
}


 @media only screen and (max-width: 992px) {
     h1 {
         font-size: larger;
     }
     h3 {
         font-size: medium;
     }
 }