body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Times', serif !important;
}

/* header*/

header {
    background-color: #98FB98;
    color: blue;
    width: 100vw;
    height: 15vh;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem !important;
}

.page-heading {
    padding-top: 1rem;
    font-weight: 900;
}

.sub-heading {
    font-weight: 600;
}

/* footer */

#footer {
    padding-top: 1rem;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 10vh;
    background-color:#98FB98;
    color: blue;
    z-index: 1;
}

i {
    font-size: 2rem;
    align-items: center;
}

i:hover{
   color: white;
   transition: all ease-in-out .25s;
}

p {
    font-size: 1.25rem;
    text-transform: none;
}

p a {
    text-decoration: underline;
}

p a:link:hover {
    color: white;
    transition: all ease-in-out .25s;
}

/* modal */

.end-game-UI {
    margin: 15rem;
}

#modal2{
    display: none;
}

#bg-modal{
    background-color: #98FB98 !important;
    color: blue !important;
}

/* section */

section {
    height: 75vh;
    width: 100vw;
    margin: 0;
    text-align: center !important;
    padding-top: .5%;
    padding-right: .5%;
}

canvas {
    height:73vmin;
    width: 100vmin;
    border: 2px solid black;
    display: inline !important;
    /*background-color: #90EE90;*/
}

#startGameBtn {
    color: #fafafa;
}

button:hover {
    background-color: #fafafa;
    color: blue !important;
    transition: all ease-in-out .25s;
}


 @media only screen and (max-width: 1605px) {
     h1 {
         font-size: 2rem !important;
     }
     h3 {
         font-size: medium;
     }
     .end-game-UI{
         margin-right: 8rem;
     }
     footer p {
         font-size: .65rem !important;
     }

     footer a i {
        font-size: .65rem !important;
        font-weight: 900 !important;
     }
 }