@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
    font-family: "Playfair Display SC", sans-serif !important;
    margin: 0;
    user-select: none;
}

/* header*/

header {
    background-color: blue;
    color: #fafafa;
    width: 100vw;
    height: 15vh;
}

.page-heading {
    padding-top: 1rem;
    font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
     font-size: initial; 
    font-weight: inherit;
}

.sub-heading {
    font-weight: 600;
}

/* footer */

#footer {
    margin: 0;
    width: 100vw;
    height: 10vh;
    background-color: black;
}

/* modal */

.end-game-UI {
    margin: 15rem;
}

/* section */

section {
    height: 75vh;
    width: 100vw;
    margin: 0;
    text-align: right !important;
    padding-top: .5%;
    padding-right: .5%;
}

canvas {
    height:73vmin;
    width: 100vmin;
    border: 2px solid black;
    display: inline !important;
    /*background-color: #90EE90;*/
}

 @media only screen and (max-width: 992px) {
     h1 {
         font-size: larger;
     }
     h3 {
         font-size: medium;
     }
     .end-game-UI{
         margin-right: 8rem;
     }
 }